VITE_FIREBASE_CONFIG={"apiKey":"--","authDomain":"my-project-dev.firebaseapp.com","projectId":"my-project-dev","storageBucket":"my-project-dev.appspot.com","messagingSenderId":"0","appId":"1:0:web:aaa","measurementId":"G-0"}