@use "../../theme/colors";
@use "../../theme/sizes";
@use "../../theme/variables" as v;
@use '../../theme/mixins';
.experiences {
  .mdc-layout-grid {
    padding-top: 0;
    padding-bottom: 0;
    .mdc-layout-grid {
      --mdc-layout-grid-margin-desktop: 0;
    }
  }
  .experiences--list {
    overflow: hidden;
    @include mixins.mobile {
      max-height: 100%;
      overflow-y: auto;
    }

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .experiences--item, .item {
    &.featured {
      .caption {
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgb(2, 3, 0);
        background: linear-gradient(0deg, rgba(2, 3, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        width: 100%;
      }
    }
    &:not(.featured) {
      @include mixins.mobile {
        button .text-eyebrow,
        .mdc-button .text-eyebrow,
        .text-eyebrow {
          font-size: 11px !important;
        }
      }
    }
    .thumbnail {
      position: relative;
      overflow: hidden;
    }
    .divider {
      &::after {
        background-color: #ccc;
      }
    }
  }
}
