@use "../../theme/colors";
@use "../../theme/sizes";
@use "../../theme/variables" as v;
@use '../../theme/mixins';
footer {
    background-color: #{colors.$black};
    .mdc-layout-grid {
        @include mixins.mobile {
            padding-top: 90px;
            padding-bottom: 90px;
        }
        @include mixins.desktop {
            padding: 95px 126px 50px calc(8% + var(--mdc-layout-grid-margin-desktop));
        }
        .mdc-layout-grid {
            --mdc-layout-grid-margin-desktop: 0;
            padding: 0;
            @media (min-width: 1240px) {
                --mdc-layout-grid-gutter-desktop: 50px;
            }
        }
    }
    ul {
        padding-inline-start: 0;
        li {
            font-size: 13px;
            letter-spacing: 0.2px;
            line-height: 30px;
            list-style: none;
        }
    }
    .widget {
        margin-bottom: 40px;
    }

    form {
        .mdc-button {
            &:hover {
                border-color: #{colors.$black};
                --mdc-theme-primary: #{colors.$white};
                background-color: #{colors.$white};
                .mdc-button__label {
                    color: colors.$black !important;
                }
            }
        }
    }
}

.user-dashboard {
    --mdc-tab-horizontal-padding: 0;
    .mdc-drawer {
        border-color: transparent;
    }
    .mdc-tab-bar {
        .mdc-tab-scroller__scroll-content {
            display: block;
        }
        .mdc-tab {
            padding-right: 0;
            padding-left: 0;
            justify-content: left;
            width: 100%;
            text-transform: uppercase;
        }
    }
    .personal-info {
        position: relative;
        padding: 25px 30px;
        border: 1px solid #000;
    }
    .user-profile-image {
        position: relative;
        .btn-update-avatar {
            position: absolute;
            top: 24px;
            right: 15px;
        }
    }
}
