@use "../../theme/colors";
@use "../../theme/mixins";
form {
    --mdc-shape-small: 25px;
    .mdc-notched-outline__leading,
    .mdc-notched-outline__trailing,
    .mdc-button {
        border-radius: 0 !important;
    }
    .mdc-text-field {
        
            .mdc-text-field__input,
            .mdc-floating-label {
                padding-left: max(16px, calc(var(--mdc-shape-small, 4px) + 4px));
            }
            .mdc-floating-label {
                left: 4px;
            }
            .mdc-line-ripple::after{
                border-bottom-width: 1px;
            }
    }
    .mdc-select {
        .mdc-select__menu{
            max-height: 300px;
            &::-webkit-scrollbar-track {
                background-color: #d3d3d3;
            }
            &::-webkit-scrollbar {
                width: 7px;

                background-color: #d3d3d3;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #{colors.$black};
            }
        }
    }
    .mdc-checkbox {
        --mdc-theme-secondary: #000;
    }

    // Color
}
@include mixins.dark {
    form {
        .smui-text-field--standard:not(.mdc-text-field--disabled) .mdc-line-ripple::before,
       .smui-text-field--standard:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before {
            border-bottom-color: #{colors.$white};
        }
        .mdc-text-field {
            --mdc-theme-primary: #{colors.$white};
        }
    }
}
