@use "../../theme/variables" as v;
@mixin mobile {
    @media (max-width: #{ v.$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{ v.$desktop-width}) {
        @content;
    }
}
#inquiry-modal.mdc-dialog {
    &.mdc-dialog--open {
        animation-name: fadeInUp;
        animation-duration: 2s;
    }
    &.closing {
        animation-name: fadeOutDown;
        animation-duration: 2s;
    }
    &.mdc-dialog--closing {
        display: none;
    }
    --mdc-layout-grid-gutter-desktop: 100px;
    .mdc-dialog__container {
        align-items: flex-end;
    }
    .mdc-dialog__scrim {
        background-color: transparent;
    }
    .mdc-dialog__surface {
        width: var(--wrap-width);
        max-width: var(--wrap-width);
        background-color: #5078bc;
        @include mobile {
            height: auto;
        }
        .mdc-dialog__content {
            max-width: v.$contentMaxWidth;
            margin: auto;
            width: 100%;
            padding-top: 80px;
            padding-bottom: 90px;
            @include mobile {
                padding-bottom: 150px;
            }
            position: relative;
            .mdc-layout-grid {
                padding: 0;
            }
        }
        .close-modal {
            position: absolute;
            right: 48px;
            top: 20px;
            @include mobile {
                right: 30px;
            }
        }
    }
}
