@use 'sass:color';
@use './colors';
@use './sizes';
@use './mixins';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with
  (
    $primary: #000,
    $secondary: #676778,
    $surface: #fff,
    $background: #fff,
    $error: color-palette.$red-900
  );
@use './variables' as v;
@use './spacing-helpers';
// use Typeography
@use '@material/typography/mdc-typography';
// use Textfield
@use '@material/floating-label/mdc-floating-label';
@use '@material/line-ripple/mdc-line-ripple';
@use '@material/notched-outline/mdc-notched-outline';
@use '@material/checkbox/checkbox-theme' as checkboxTheme with (
  $icon-size: 25px
);
@use '@material/checkbox';

@use '@material/select';

@use '@material/typography/index' as typography;
@use '@material/textfield';
@use '@material/button';
@use '../style/include/button' as customButton;
// Input

@use '@material/layout-grid/index' as layoutgrid with (
  $breakpoints: (
    desktop: sizes.$desktop-width,
    tablet: 600px,
    phone: 0px,
  )
);


@font-face {
  font-family: Surt;
  src: url('./fonts/surt-regular/surt-regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: Surt;
  src: url('./fonts/surt-light/Surt-LightExtended.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: Surt;
  src: url('./fonts/surt-normal-ultra-bold/SurtNormal-UltraBold.woff');
  font-weight: 700;
}

@font-face {
  font-family: GTSupper;
  src: url('./fonts/gt-super/GT-Super-Display-Light.woff');
  font-weight: 300;
}

@font-face {
  font-family: GTSupper;
  src: url('./fonts/gt-super/GT-Super-Display-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: GTSupperTextBook;
  src: url('./fonts/gt-super/GT-Super-Text-Book.woff');
  font-weight: 400;
}
/* Variables */
// $contentMaxWidth: sizes.$contentMaxWidth;
// $containerWith: 1246px;
// colors.$white: #{colors.$white};
// colors.$black: #{colors.$black};
// $brownColor: v.$brownColor;
// colors.$blue: #{colors.$blue};
/* Responsive */
$mobile-width: #{sizes.$desktop-width - 1px};
$desktop-width: sizes.$desktop-width;

//@media screen and (max-width: 1239px) and (min-width: 905px){
//  body{
//    &, * {
//      transform: scale(1);
//    }
//  }
//}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeOutDown {
  from {
    visibility: visible;
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}
*, ::after, ::before {
  box-sizing: border-box;
}
html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
  @include typography.typography('body1');
}

a {
  @include typography.typography('button');
  color: #{colors.$black};
  text-decoration: none;
}
a:visited {
  color: color.scale(colors.$black, $lightness: -35%);
}

h1,
.text-h1 {
  @include typography.typography('headline1');
}
h2,
.text-h2 {
  @include typography.typography('headline2');
}
h3,
.text-h3 {
  @include typography.typography('headline3');
}
h4,
.text-h4 {
  @include typography.typography('headline4');
}
h5,
.text-h5 {
  @include typography.typography('headline5');
  text-transform: uppercase;
}
h6,
.text-h6 {
  @include typography.typography('headline6');
}
h7,
.text-h7 {
  @include typography.typography('subtitle1');
}
h8,
.text-h8 {
  @include typography.typography('subtitle2');
}
p,
.text-body1 {
  @include typography.typography('body1');
}
.text-body2 {
  @include typography.typography('body2');
}

button .text-eyebrow,
.mdc-button .text-eyebrow,
.text-eyebrow {
  font-size: 13px !important;
  letter-spacing: 0.2px !important;
  line-height: 18px !important;
}
.text-button2{
  @include typography.typography('button');
  font-size: var(--mdc-typography-button2-font-size) !important;
}

.text-warning{
  color: #F0C11B !important;
}

.text-danger{
  color: #DA1E27 !important;
}

caption {
  @include typography.typography('caption');
}
.mdc-notched-outline--upgraded .mdc-floating-label--float-above{
  /* Set width for input label*/
  max-width: calc(100% / 0.5);
}
.mdc-floating-label,
.text-input,
input,
select,
textarea {
  font-family: var(--mdc-typography-form-font-family);
  font-size:  var(--mdc-typography-form-font-size);
  font-weight: var(--mdc-typography-form-font-weight);
  line-height: var(--mdc-typography-form-line-height);
  letter-spacing: var(--mdc-typography-form-letter-spacing);
  font-style: normal;
}
.mdc-floating-label{
  font-style: oblique;
}
select,
.mdc-select .mdc-floating-label.mdc-floating-label {
  font-style: normal;
}
button.mdc-button, a.mdc-button {
  --mdc-theme-primary: #{colors.$black};
  @include button.outline-color(#000);
  @include button.outline-width(1px, 45px);
  @include mixins.mobile {
    @include button.outline-width(1px, 20px);
  }
  &,
  .mdc-button__label {
    @include typography.typography('button');
    line-height: normal;
  }
  min-width: 193px;
  overflow: hidden;
  @include mixins.mobile {
    &.mdc-button {
      min-width: 170px;
    }
  }
  &.no-background {
    &:before,
    &:after {
      background: transparent;
    }
  }
  &.border-white {
    @include button.outline-color(#fff);
  }
  &.hover-affect {
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #{colors.$black};
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    &:hover {
      color: white !important;
      &:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
  }
}

section{
  padding-top: 50px;
  padding-bottom: 50px;
  @include mixins.mobile{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.mdc-tab.mdc-tab{
  font-family: var(--mdc-typography-button-font-family);
  font-size: var(--mdc-typography-button-font-size);
  font-weight: var(--mdc-typography-button-font-weight);
  line-height: var(--mdc-typography-button-line-height);
  letter-spacing: var(--mdc-typography-button-letter-spacing);
}

.fixed {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  z-index: 6 !important;
  &.full-width {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

/* Checkbox */
.mdc-checkbox {
  @include checkbox.ripple-size(0);
}

/* Text Label Of Fieldtext */
.mdc-floating-label {
  padding-right: 2px;
}

/* MDC Table */
.mdc-data-table{
  .mdc-data-table__table{
    white-space: pre-wrap;
  }
  .mdc-data-table__table-container{
    &::-webkit-scrollbar-track {
      background-color: #d3d3d3;
    }
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: #d3d3d3;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #{colors.$blue};
    }
    td{
      word-break: break-word;
    }
  }
}

.content-wrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .container{
    max-width: sizes.$contentMaxWidth;
    margin-left: var(--mdc-layout-grid-margin-desktop);
    margin-right: var(--mdc-layout-grid-margin-desktop);
  }
  @media screen and (max-width: $mobile-width) {
    .container {
      margin-left: var(--mdc-layout-grid-margin-phone);
      margin-right: var(--mdc-layout-grid-margin-phone);
    }
  }
  position: relative;
}

.d-block {
  display: block;
}
.d-none {
  display: none !important;
}
//@include tablet{
//  .t-block.t-block{
//    display: block !important;
//  }
//  .t-none.t-none{
//    display: none !important;
//  }
//}
@include mixins.mobile {
  .m-block {
    display: block !important;
  }
  .m-none {
    display: none !important;
  }
}

.mdc-button--raised,
.mdc-button--unelevated,
.mdc-button--outlined {
  .mdc-button__icon.mdc-button__icon {
    margin-right: 4px;
  }
}

@include mixins.dark {
  * {
      color: colors.$white !important;
    }
  .mdc-button {
    @include button.outline-color(colors.$white);
  }
  .mdc-tab {
    --mdc-theme-primary: #{colors.$white};
  }
  a {
    color: #{colors.$white};
  }
  .divider {
    --divider-line-color: #{colors.$white};
  }
  svg{
    filter: none;
  }
}

@include mixins.light {
  *,
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: colors.$black !important;
  }
  .smui-text-field--standard:not(.mdc-text-field--disabled)
    .mdc-line-ripple::before,
  .smui-text-field--standard:not(.mdc-text-field--disabled):hover
    .mdc-line-ripple::before {
    border-bottom-color: #{colors.$black};
  }
  .mdc-button {
    @include button.outline-color(colors.$black);
    &.hover-affect {
      &:hover {
        &,
        & * {
          color: colors.$white !important;
        }
      }
    }
  }
  .mdc-tab {
    --mdc-theme-primary: #{colors.$black};
  }
  .divider {
    --divider-line-color: #{colors.$black};
  }
  svg{
    filter: brightness(0.1);
  }
}

.clearfix{
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

section {
  &.has-padding {
    padding-top: 90px;
    padding-bottom: 95px;
  }
}

#logo {
  min-width: 170px;
  padding-left: 0;
}
@include mixins.desktop {
  .page.page-home{
    #logo{
      margin-left: 100px;
    }
  }
}

@include mixins.light {
  #logo {
    filter: brightness(0.1);
  }
  .mdc-top-app-bar__section {
    #main-menu li {
      a {
        color: #{colors.$black};
      }

      &:hover,
      &.active,
      &.active-static {
        &::after {
          background: #{colors.$black};
        }
      }
    }
  }
  .mdc-top-app-bar__section--align-end {
    .btn-plan-your-trip {
      @include button.outline-color(colors.$black);
    }
    a {
    }
  }
  .search-form {
    .mdc-text-field {
      width: 300px;
      @include textfield.outlined-height(35px);
      @include textfield.outline-color(colors.$black);
      @include textfield.hover-outline-color(colors.$black);
      //@include textfield.label-color(#fff);
      padding-right: 15px;
    }
  }
  .favorite,
  .profile,
  .search,
  .search-form i img {
    filter: brightness(0.1);
  }
  .mdc-top-app-bar__section.list-tags-wrap {
    .list-tags {
      .mdc-button {
        &,
        .mdc-button__label {
          color: colors.$white !important;
        }

        border: 1px solid #{colors.$black};
      }
    }
  }
}

.page:not(.page-home) {
  .mdc-top-app-bar {
    .mdc-top-app-bar__row:nth-of-type(3) {
      display: none;
    }
  }
}

.full-width {
  .content-wrap {
    position: relative;
    height: 100%;
    width: 100%;
  }
}

.full-width-without-container {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/* mdc-dialog */
body.mdc-dialog-scroll-lock{ // Fixed error jumpled screen when open dialog
  overflow: auto;
}

.divider {
  width: 100%;
  height: 1px;
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--divider-line-color,#{colors.$white});
  }
}

.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.font-weight-bold {
  font-weight: 700;
}

.mdc-drawer {
  .mdc-deprecated-list-item.mdc-deprecated-list-item {
    @include typography.typography('headline4');
    text-transform: uppercase;

    &.active {
      border-bottom: 1px solid #000;
    }
  }
}

@include mixins.mobile {
  .trips-list-wrap .list-featured-drop {
    .item-featured-drop {
      .title {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0;
      }
    }
  }
  .experience-item {
    .title {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0;
    }
  }
}
